<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Reasoning" name="Reasoning" schema="schema/Reasoning.exsd"/>
   <extension-point id="Acquisition" name="Acquisition" schema="schema/Acquisition.exsd"/>
   <extension-point id="NetP" name="NetP" schema="schema/NetP.exsd"/>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="middleware_view"
            id="middleware">
      </category>
      <view
            name="Middleware"
            icon="icons/sample.gif"
            category="middleware"
            class="middleware.views.MiddlewareView"
            id="middlewareView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="middlewareView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
