<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ReasoningPExAn" name="ReasoningPointExtAnalyse" schema="schema/PointExtAnal.exsd"/>
   <extension
         point="Middleware.Reasoning">
      <AlerteElement
            class="reasoning.Alerte">
      </AlerteElement>
   </extension>


</plugin>
